.input_group{
    @apply flex border rounded-xl;
    position: relative; 
}

.input_text{
    @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none;
}

.button{
    @apply w-full border rounded-xl bg-gradient-to-r from-blue-500 to-indigo-500;
    @apply py-3 text-gray-50 text-lg;
}

.input_text + *{
    color: #CBD5E1;
    background-color: #F9FAFB;
}
.input_text:focus + *{
    color: #818CF8;
}

.input_text:not([type=email])~span:hover*{
        color:818CF8;
        cursor:pointer;
    }

.PhoneInputInput {
	@apply w-full py-4 px-6 border rounded-xl bg-slate-50;
    @apply flex border rounded-xl;
    position: relative;
    border-color: transparent; 
    
}
.PhoneInputCountryIcon{
    width: 100px;
}



